theme: {
  typography: {
    header: "Schibsted Grotesk",
    body: "Source Sans Pro",
    code: "IBM Plex Mono",
  },
  colors: {
    lightMode: {
      light: "#eff1f5",
      lightgray: "#9ca0b0",
      gray: "#7287fd",
      darkgray: "#4c4f69",
      dark: "#4c4f69",
      secondary: "#1e66f5",
      tertiary: "#40a02b",
      highlight: "rgba(30, 102, 245, 0.15)",
    },
    darkMode: {
      light: "#303446",
      lightgray: "#737994",
      gray: "#babbf1",
      darkgray: "#c6d0f5",
      dark: "#c6d0f5",
      secondary: "#8caaee",
      tertiary: "#a6d189",
      highlight: "rgba(140, 170, 238, 0.15)",
    },
  },
},